body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    padding: 20px;
}

form {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

input, select, button, label {
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    position: relative;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-weight: bold;
}

.card:hover .card-date {
    display: block;
}

.card-date {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
}

/* Loader */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3; /* Color de fondo del borde */
    border-top: 16px solid #3498db; /* Color de la barra de progreso */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Ocultar el loader por defecto */
.hidden {
    display: none;
}
